version: 2.1

docker_defaults: &docker_defaults
  docker:
    - image: circleci/node:8.14.0

commands:
  prep_env:
    description: "Prepares environment with cache and yvm"
    steps:
      - checkout:
          path: ~/repo
      - restore_cache:
          name: Restore node_modules cache
          key: yvm-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: "Install yvm release version"
          command: "node ~/repo/scripts/install.js"
  save_env_cache:
    description: "Saves environment cache"
    steps:
      - save_cache:
          name: Save node_modules cache
          key: yvm-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - node_modules/

jobs:
  node_modules:
    <<: *docker_defaults
    working_directory: ~/repo
    steps:
      - prep_env
      - run: make node_modules
      - save_env_cache
  unit_test:
    <<: *docker_defaults
    working_directory: ~/repo
    steps:
      - prep_env
      - attach_workspace:
          at: ~/repo
      - run: make test-coverage
      - store_test_results:
          path: artifacts/reports/tests
  lint:
    <<: *docker_defaults
    working_directory: ~/repo
    steps:
      - prep_env
      - run: make lint
      - run: make lint-defend-circular
  build:
    <<: *docker_defaults
    working_directory: ~/repo
    steps:
      - prep_env
      - run: make build-production
      - run: yarn run semantic-release --dry-run
      - persist_to_workspace:
          root: ~/repo
          paths:
            - artifacts/
  release_size_check:
    <<: *docker_defaults
    working_directory: ~/repo
    steps:
      - prep_env
      - attach_workspace:
          at: ~/repo
      - run: make bundlewatch
  sanity_test:
    <<: *docker_defaults
    working_directory: ~/repo
    steps:
      - prep_env
      - attach_workspace:
          at: ~/repo
      - run: make install-local
      - run: YVM_DIR=~/.yvm ./test/sanity-test.sh
  deploy:
    <<: *docker_defaults
    working_directory: ~/repo
    steps:
      - prep_env
      - attach_workspace:
          at: ~/repo
      - run: yarn run semantic-release
  website:
    <<: *docker_defaults
    working_directory: ~/repo/website
    steps:
      - prep_env
      - run: yarn install --frozen-lockfile
      - save_env_cache
      - run: yarn build
  deploy_website:
    <<: *docker_defaults
    working_directory: ~/repo/website
    steps:
      - prep_env
      - add_ssh_keys:
          fingerprints:
            - "31:a5:c5:3d:78:b9:79:1d:2f:4b:59:fd:e1:89:21:dc"
      - run:
          name: Setup git user and deploy website
          command: |
            git config --global user.email "circleci-yvm@users.noreply.github.com"
            git config --global user.name "CircleCI YVM"
            CUSTOM_COMMIT_MESSAGE="[skip ci]" USE_SSH=true yarn publish-gh-pages

workflows:
  version: 2
  yvm_and_website:
    jobs:
      - node_modules
      - unit_test:
          requires:
            - node_modules
            - build
      - lint:
          requires:
            - node_modules
      - build:
          requires:
            - node_modules
      - release_size_check:
          requires:
            - node_modules
            - build
      - sanity_test:
          requires:
            - node_modules
            - build
      - deploy:
          requires:
            - node_modules
            - lint
            - unit_test
            - sanity_test
            - build
            - release_size_check
          filters:
            branches:
              only:
                - master
      - website
      - deploy_website:
          requires:
            - website
          filters:
            branches:
              only:
                - master

experimental:
  notify:
    branches:
      only:
        - master
